.subnav:hover .subnavbtn {
  background-color: rgba(176, 196, 222, 0.796);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(8, 42, 57);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: rgb(166, 204, 209);
}

.subnav:hover .subnav-content {
  display: block;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
