@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  text-align: justify;
  line-height: normal;
  word-spacing: normal;
  font-size: 20px;
}

p {
  margin: 10px;
  margin-top: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 30px;
}

code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #02203c;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  margin-top: 1.6em;
  max-width: 100%;
  overflow: scroll;
  overflow-x: scroll;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

table {
  border-collapse: collapse;
  margin: 5px;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #02203c;
  color: white;
}

