.Cell{
  width: 30px;
  height: 30px;
  background-color: rgb(226, 226, 226);
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.Start {
  background-image:url(start.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.Wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.Target {
  background-image:url(target.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.SecondaryTarget{
  background-image:url(second.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.ShortestPath {
  background-color: lightgoldenrodyellow;
}

.Searched {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.Searched2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.Weight{
  background-image:url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.Red{
  background-color: red;
}

.Searched2Done{
  background-color: rgb(11, 122, 170);
}

.FinalSearched {
  background-color: lightseagreen;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(41, 41, 107, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgb(148, 191, 210);
  }

  75% {
    transform: scale(1.2);
    background-color: rgb(46, 102, 126);
  }

  100% {
    transform: scale(1);
    background-color: rgb(11, 122, 170);
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: lightgrey;
  }

  50% {
    transform: scale(1.2);
    background-color: grey;
  }

  100% {
    transform: scale(1);
    background-color: rgb(24, 21, 21);
  }
}

@keyframes specialNodes {
  0% {
    transform: scale(.3);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}