.Cell {
  margin: none;
  color: red;
  width: 15px;
  height: 15px;
}

.Filled {
  background-color: black;
}

.Wall {
  background-color: blue;
}

.Target {
  background-color: green;
}

.ShortestPath {
  background-color: yellow;
}

.Searched {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(6, 197, 226, 0.75);
  }
}
